body {
    background-image: url(../imagenes/posiblefondo1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}